<div class='categories_index'>
  <div class='category_container'>
    <h1><%= t('.detail', category_name: @category.name) %></h1>
    <table class='category_table'>
      <thead>
        <tr>
          <th><%= t('admin.categories.name') %></th>
          <th><%= t('admin.categories.description') %></th>
          <th><%= t('.book') %></th>
        </tr>
      </thead>
      <tbody class='tb_body'>
        <tr>
          <td><%= @category.name %></td>
          <td><%= @category.description %></td>
          <td class='category_books'>
            <% @category.books.each do |book| %>
              <%= book.title %> <br>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
